[submodule "vim"]
	path = vim
	url = https://github.com/yuweijun/vim.git
[submodule "tmux"]
	path = tmux
	url = https://github.com/yuweijun/tmux.git
[submodule "mycli"]
	path = mycli
	url = https://github.com/yuweijun/mycli.git
[submodule "nerd-fonts"]
	path = nerd-fonts
	url = https://github.com/yuweijun/nerd-fonts.git
